* {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    /*text-align: justify;*/
}


/* Palette

    Blue: #4068DF;
    Gray

*/

div.navbar {
    background-color: #253eb0;
}

div#navbarHeader{
    background-color: #444d56;
}

.text-muted{                /* Sobre nosotros */
    color:#909eaa !important;
}

div.container.d-flex.justify-content-between a strong {       /* Logo */
    margin: 0px 10px;
}

section.jumbotron{          /* Página principal */
    padding: 15rem 4rem;
}

p.font-weight-bold {        /* Preguntas */
    margin-top: 2rem;;
}

.form-check {               /* Opciones */
    padding-left: 2.6rem;
}

a.btn.btn-primary { /* Boton */
    margin: 0px;
    color: white;
}

footer {
    margin: 1.5rem 0;
    
}


/* -------------------- Bootstrap -------------------- */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
/* -------------------- End Bootstrap -------------------- */