* {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    /*text-align: justify;*/
}


/* Palette

    Blue: #4068DF;
    Gray

*/

div.navbar {
    background-color: #253eb0;
}

div#navbarHeader{
    background-color: #444d56;
}
section.jumbotron{
    padding: 15rem 4rem;
}

.form-check {
    padding-left: 2.6rem;
}

footer {
    margin-top: 2rem;
    margin-bottom: 0px;
    
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
